.content {
	padding:10px;
	font-size:20px;
}

.content h3 {
	margin-top:10px;
}

#light.circle {
	width:40px;
	height:40px;
	border-radius:20px;
	border:0px;
	background-color:blue;
}

#light.offline{
	background-color:red;
}

#light.online{
	background-color:green;
}

.hidden{
	display: none;
}
